/* line 6, ../sass/main.sass */
body {
  margin: 0;
  background-color: #282828;
}

/* line 10, ../sass/main.sass */
#left {
  float: left;
  width: 230px;
}
/* line 13, ../sass/main.sass */
#left .tabs {
  background-color: #161514;
  height: 100%;
}
/* line 16, ../sass/main.sass */
#left .tabs .tab {
  overflow: auto;
  height: 50px;
  border-bottom: thin solid #0d0a0a;
  border-top: thin solid #1b1a1a;
  cursor: pointer;
}
/* line 22, ../sass/main.sass */
#left .tabs .tab.top:first-child {
  border-top: none;
}
/* line 24, ../sass/main.sass */
#left .tabs .tab.top:last-child {
  border-bottom: none;
}
/* line 26, ../sass/main.sass */
#left .tabs .tab#social {
  border-bottom: thin solid #1b1a1a;
}
/* line 28, ../sass/main.sass */
#left .tabs .tab.sub {
  background: url(/imgs/social-bg.png) repeat;
  position: relative;
}
/* line 31, ../sass/main.sass */
#left .tabs .tab.sub .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 15, 14, 0.9);
}
/* line 36, ../sass/main.sass */
#left .tabs .tab.sub:first-child {
  border-top: thin solid #0d0a0a;
  -webkit-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.45);
}
/* line 39, ../sass/main.sass */
#left .tabs .tab.sub:last-child {
  -webkit-box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.45);
}
/* line 41, ../sass/main.sass */
#left .tabs .tab.sub .title {
  font-weight: 500;
}
/* line 43, ../sass/main.sass */
#left .tabs .tab.sub#twitter .title {
  color: #027fb9;
}
/* line 45, ../sass/main.sass */
#left .tabs .tab.sub#facebook .title {
  color: #154979;
}
/* line 47, ../sass/main.sass */
#left .tabs .tab .content {
  margin-top: 16px;
  position: relative;
  z-index: 1;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
}
/* line 52, ../sass/main.sass */
#left .tabs .tab .content.active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 54, ../sass/main.sass */
#left .tabs .tab .content .icon {
  width: 17px;
  height: 15px;
  float: left;
  margin-left: 10px;
}
/* line 59, ../sass/main.sass */
#left .tabs .tab .content .title {
  float: left;
  margin-left: 10px;
  margin-top: -1px;
  font-family: Helvetica Neue;
  color: whitesmoke;
  text-shadow: 0 2px 1px black;
}
/* line 66, ../sass/main.sass */
#left .tabs .tab .content .num-container {
  float: right;
  margin: -4px 15px 0 0;
  width: 40px;
  height: 28px;
  background-color: #100f0e;
  -webkit-box-shadow: 0 2px 2px #1a1917, 0 0 12px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 2px 2px #1a1917, 0 0 12px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 2px 2px #1a1917, 0 0 12px rgba(0, 0, 0, 0.75) inset;
}
/* line 73, ../sass/main.sass */
#left .tabs .tab .content .num-container .num {
  color: #222120;
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 1.2em;
  margin: 2px 0px 0px 15px;
}
/* line 79, ../sass/main.sass */
#left .tabs .tab.selected {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(-16%, #861818), color-stop(116%, #bb2626));
  background-image: -webkit-linear-gradient(bottom, #861818 -16%, #bb2626 116%);
  background-image: -moz-linear-gradient(bottom, #861818 -16%, #bb2626 116%);
  background-image: -o-linear-gradient(bottom, #861818 -16%, #bb2626 116%);
  background-image: linear-gradient(bottom, #861818 -16%, #bb2626 116%);
}
/* line 81, ../sass/main.sass */
#left .tabs .tab.selected .title {
  color: #440c0b;
  text-shadow: 0 2px 1px #d12320;
  font-weight: 500;
}

/* line 85, ../sass/main.sass */
#right {
  background-color: #e2e2e2;
  height: 100%;
  overflow: auto;
}
/* line 89, ../sass/main.sass */
#right #entry-container {
  width: 90%;
  margin: 50px auto;
}
/* line 92, ../sass/main.sass */
#right #entry-container #text-container {
  position: relative;
}
/* line 94, ../sass/main.sass */
#right #entry-container #text-container #entry-head {
  background-color: #a01b1b;
  width: 6px;
  height: 26px;
  position: absolute;
  top: 3px;
  left: -15px;
}
/* line 101, ../sass/main.sass */
#right #entry-container #text-container textarea {
  width: 100%;
  min-height: 200px;
  border: none;
  margin: 0px;
  background-color: transparent;
  font: 1.5em Helvetica Neue;
  color: #818080;
  resize: none;
}
/* line 110, ../sass/main.sass */
#right #entry-container #text-container textarea:focus {
  outline: none;
}
