<div id='left'>
  <div class='tabs'>
    <div class='tab top selected' id='home'>
      <div class='content'>
        <div class='icon' style='background:url(/imgs/home.png) no-repeat'></div>
        <div class='title'>Home</div>
      </div>
    </div>
    <div class='tab top' id='drafts'>
      <div class='content'>
        <div class='icon' style='background:url(/imgs/check.png) no-repeat'></div>
        <div class='title'>Drafts</div>
        <div class='num-container'>
          <div class='num'>0</div>
        </div>
      </div>
    </div>
    <div class='tab top' id='social'>
      <div class='content'>
        <div class='icon' style='background:url(/imgs/users.png) no-repeat'></div>
        <div class='title'>Social</div>
      </div>
    </div>
    <div id='subs'>
      <div class='tab sub' id='facebook'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='icon' style='background:url(/imgs/facebook.png) no-repeat'></div>
          <div class='title'>Facebook</div>
        </div>
      </div>
      <div class='tab sub' id='twitter'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='icon' style='background:url(/imgs/twitter.png) no-repeat'></div>
          <div class='title'>Twitter</div>
        </div>
      </div>
    </div>
    <div class='tab top' id='how'>
      <div class='content'>
        <div class='icon' style='background:url(/imgs/bubbles.png) no-repeat'></div>
        <div class='title'>How It Works</div>
      </div>
    </div>
    <div class='tab top'></div>
  </div>
</div>
<div id='right'>
  <div id='entry-container'>
    <textarea ng:model='post.content'></textarea>
    <div ng:click='post()' id='post'></div>
  </div>
</div>